.login_panel .social div.google {
	background-color: #dd4b39;
	background-image: url("../../images/modules/GoogleAuthWebclient/icon.png");
	border: 1px solid #ba3626;
	
	&:hover {
		background-color: #d53e2b;
	}
}

.plugin_external_services.popup.google {
	z-index: 1000;
}