.login_panel .social .google {
	background: #dd4b39 url("../../images/modules/GoogleAuth/icon.png") 3px 0px no-repeat;
	border: 1px solid #bb3f30;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	height: 20px;
	text-align: right;
	width: 75px;
	
	.text {
		background-color: #dd4b39;
		border-left: 1px solid #bb3f30;
		color: #fff;
		line-height: 21px;
		padding: 3px 7px 2px 8px;
		text-decoration: none;
		vertical-align: top;
	}
}

.plugin_external_services.popup.google {
	z-index: 1000;
}