.login_panel .social div.google {
	background: #dd4b39 url("../../images/modules/GoogleAuth/icon.png") center no-repeat;
	border: 1px solid #bb3f30;
}

.plugin_external_services.popup.google {
	z-index: 1000;
}